body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
  }
  
  header {
	background-color: #333;
	color: white;
	padding: 10px;
  }
  
  nav {
	float: right;
  }
  
  nav a {
	display: block;
	padding: 10px;
	text-decoration: none;
  }
  
  nav a:hover {
	background-color: #444;
  }
  
  #hamburger-menu {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99;
	display: none;
  }
  
  #hamburger-menu:hover {
	display: block;
  }
  
  #hamburger-menu i {
	color: white;
	font-size: 20px;
	cursor: pointer;
  }
  
  #hero {
	background-color: #fff;
	padding: 20px;
  }
  
  #hero h1 {
	font-size: 30px;
  }
  
  #hero p {
	font-size: 16px;
  }
  
  #feature {
	background-color: #f9f9f9;
	padding: 20px;
  }
  
  #feature h2 {
	font-size: 20px;
  }
  
  #feature p {
	font-size: 16px;
  }
  
  footer {
	background-color: #333;
	color: white;
	padding: 10px;
	text-align: center;
  }
  
  footer a {
	color: white;
  }
  